.DS_Store
/captures
*.so

/.idea/*.xml
/.idea/libraries
!.idea/codeStyleSettings.xml
!.idea/copyright/*.xml
!.idea/fileColors.xml
!.idea/encodings.xml
!.idea/gradle.xml
!.idea/runConfigurations/*.xml

!.idea/inspectionProfiles/*.xml
.idea/inspectionProfiles/profiles_settings.xml

!.idea/scopes/*.xml
.idea/scopes/scope_settings.xml

!.idea/templateLanguages.xml
!.idea/vcs.xml

# Gradle
.gradle
build
.externalNativeBuild
/local.properties
*.iml

# files for the dex VM
*.dex

# Java class files
*.class

bugreport.txt
traces.txt
/aandusb-aar/fataar-release.aar
crash.txt
error.txt
